:root{
    --gray:#2e333a;
    --lightGray:#363a41;
    --lightRed:rgb(226, 74, 74);
}
.chats-wrapper{
    height: 99.5dvh;
    width: 80dvw;
    text-align: center; 
    color:White;
}
.room-title-wrapper{
    /* padding-top: 1%; */
    padding-bottom:1%;
    font-size: 2em;
    height: 5%;
    border-bottom: 1px solid white;
}
.messages-wrapper{
    height: 100%;
    width: 100%;
}
.messages{
    padding:2% 0;
    height: 80%;
    width: 100%;
    position:relative;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}
/* Others messages styles */
.others-message{
    height: fit-content;
    width: fit-content;
    min-width: 8%;
    max-width: 50%;
    margin: 10px 5px;
    margin-bottom: 10px;
    padding-bottom:15px;
    border-radius: 5px;
    background-color: #39434e;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}
.others-message p, .logged-user-message p{
    margin:20px 10px;
}
/* Others Message Timestamp */
.others-time-msg-sent{
    position:absolute;
    bottom:1px;
    right:5px;
    font-size: .8em;
    color:rgba(255, 255, 255, .8);
    font-style:italic;
}
/* Logged in User's Styles */
.logged-user-message{
    height: fit-content;
    width: fit-content;
    min-width: 8%;
    max-width: 50%;
    margin: 10px 5px;
    padding-bottom:15px;
    border-radius: 5px;
    background-color: #39434e;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    align-self: flex-end;
    position: relative;
    word-break: break-word;
}
/* This class is the p tag which has the message */
.message{
    padding:8px;
}
.message:focus{
    outline:1px solid white;
}
.logged-user-pfp, .sender-pfp{
    width: 40px;
    height: 40px;
    margin:10px 10px;
    border-radius: 50%;
}
/* Timestamp of the message sent by the logged in user */
.logged-usr-time-msg-sent{
    position: absolute;
    bottom:1px;
    left: 5px;
    font-size: .8em;
    color:rgba(255, 255, 255, .8);
    font-style:italic;
}
/* Edit and delete options */
.logged-user-message-options{
    width: 100px;
    position: absolute;
    display: none;
    flex-direction: column;
    left:-110px;
}
.active-more-options{
    display: flex;
}
.logged-user-options-btns{
    border:1px solid white;
    background-color: var(--gray);
    color:white;
    font-size: 1.2em;
    padding:5px 0;
    cursor: pointer;
}
.logged-user-options-btns:hover{
    background-color: var(--lightGray);
}
.save-edit-message{
    width: 50px;
    font-size: 1em;
    position: absolute;
    left:10px;
    bottom:-25px;
    display: none;
    cursor: pointer;
    background: none;
    color:white;
    border:none;
}
.active-edit-message{
    display: block;
}
.save-edit-message:hover{
    text-decoration: underline;
}
/* Styles of the Message input and its wrapper */
.message-form-wrapper{
    height: 6%;
    background-color: #2e333a;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:4px 0;
}
.message-form{
    width: 90%;
    height: 100%;
    flex-direction: row;
    background: rgb(48, 56, 65);
    border-radius: 5px;
}
.plus-icon{
    cursor: pointer;
    padding: 0 10px;
    border-radius: 9px;
    display: inline-block;
    vertical-align: middle;
    transition: all 250ms;
}
.plus-icon:hover{
    background-color: rgba(255, 255, 255, .1);
}
.message-input-separator{
    width: 1px;
    height: 90%;
    background-color: white;
    margin-right: 10px;
}
.message-input{
    height: 68%;
    width: 90%;
    background: rgb(48, 56, 65);
    border:none;
    border:1px solid gray;
    border-radius: 5px;
    padding:5px 10px;
    color:white;
    font-size: 1em;
}
.message-input:focus{
    border:1px solid white;
    outline:none;
}
.send-button{
    background: none;
    border:none;
    border-radius: 5px;
    padding:5px 5px;
    cursor: pointer;
    margin-left: 10px;
}
.send-button:hover{
    background: rgba(255, 255, 255, .2);
}
/* Confirm message deletion modal*/
.confirm-delete-modal{
    position: absolute;
    top:0;
    left:0;
    height:100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, .8);
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
}
.active-delete-modal{
    display: flex;
}
.title-message-wrapper{
    display: flex;
    flex-direction: column;
}
.message-to-delete{
    min-width: 30%;
    width: fit-content;
    display: flex;
    align-items: center;
    align-self: center;
}
.message-to-delete p{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.message-to-delete-date{
    width: fit-content;
    font-size: .7em;
    left:0;
}
.modal-btns{
    font-size: 1.2em;
    color:white;
    background-color: var(--gray);
    border:none;
    border-radius: 10px;
    padding:4px 35px;
    margin:10px 20px;
    cursor: pointer;
    transition: all 250ms;
}
.modal-btns:nth-of-type(1):hover{
    background-color: var(--lightGray);
}
.delete-btn{
    background-color: var(--lightRed);
}
.delete-btn:hover{
    background-color: red;
}
@media only screen and (max-width:1280px) and (max-height:1024px){
    .chats-wrapper{
        width: 70vw;
        height: 95dvh;
    }
    .messages{
        height: 82vh;
    }
    .message-form-wrapper{
        height: 7vh;
    }
    .message-form{
        margin-bottom: 10px;
    }
    .message-form{
        margin-top: 10px;
    }
    .logged-user-message{
        min-width: 13%;
    }
}
/* Nest Hub Max */
@media only screen and (max-width:1280px) and (max-height:800px){
   .chats-wrapper{
    height: 60dvh;
   }
   .room-title-wrapper{
    height: fit-content;
   }
   .messages{
    height: 79dvh;
   }
}
/* Nest Hub */
@media only screen and (max-width:1024px) and (max-height:600px){
    .room-title-wrapper{
        padding:0;
    }
    .messages-wrapper{
        height: 95dvh;
    }
    .messages{
        height: 77vh;
    }
    .message-form{
        padding:2px 0;
    }
    .plus-icon{
        width: 40px;
    }
    .logged-user-message{
        min-width: 18%;
    }
}
/* Surface Pro 7 */
@media only screen and (max-width:912px) and (max-height:1368px){
    .chats-wrapper{
        width: 100dvw;
    }
    .mobile-sidebar-btn-chats{
        left:20px;
    }
    .messages{
        height: 85vh;
    }
    .logged-user-message{
        min-width: 15vw;
    }
}
/* iPad Air */
@media only screen and (max-width:820px) and (max-height:1180px){
    .messages{
        height: 84.7vh;
    }
}
/* iPad Mini */
@media only screen and (max-width:768px) and (max-height:1024px){
    .room-title-wrapper{
        height: 6dvh;
    }
    .messages{
        height: 83vh;
    }
    .message-to-delete{
        min-width: 35%;
    }
}
/* Surface Duo */
@media only screen and (max-width:540px) and (max-height:720px){
    .chats-wrapper{
        height: 100dvh;
    }
    .room-title-wrapper h2{
        font-size: 1em;
    }
    .messages{
        height: 82vh;
    }
    .logged-user-message{
        min-width: 25%;
        align-items: flex-start;
    }
    .title-message-wrapper h2{
        font-size: 1em;
    }
    .message-to-delete{
        min-width: 45%;
        margin:10% 0;
    }
}
/* iPhone XR */
@media only screen and (max-width:414px) and (max-height:896px){
    .chats-wrapper{
        height: 100dvh;
    }
    .room-title-wrapper{
        font-size: 1.3em;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .messages{
        height: 83.7vh;
    }
    .logged-user-message{
        min-width: 32%;
    }
    .logged-user-message, .others-message{
        max-width: 80%;
    }
    .title-message-wrapper{
        font-size: .8em;
    }
    .message-to-delete{
        min-width: 50%;
    }
    .save-edit-message{
        left: 65%;
    }
}
/* Galaxy S21FE */
@media only screen and (max-width:360px) and (max-height:800px){
    .logged-user-message{
        min-width: 40%;
    }
    .message-form-wrapper{
        width: 100dvw;
    }
    .message-form{
        width: 100dvw;
        padding:3px 0;
    }
    .message-input{
        width: 100dvw;
    }
    .message-to-delete{
        margin:15% 0;
        min-width: 65%;
    }
    .save-edit-message{
        left:70%
    }
}
/* Galaxy S7 */
@media only screen and (max-width:360px) and (max-height:640px){
    .messages{
        height: 82.8vh;
    }
    .room-title-wrapper{
        width: 100vw;
    }
    .message-form{
        padding:0;
    }
}